<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <h2>Example Usage:</h2>
      <p>1. Type in a valid URL. (i.e. https://www.freecodecamp.org/)</p>
       <p> 2. Click "POST URL". </p>
        <h5>Note: This will redirect to a JSON page that looks like: {"original_url":"https://www.freecodecamp.org","short_url":2}</h5>
      <h3>Example of accessing shortened URL:</h3>      
      <p> If you click this link: <a href="https://boilerplate-project-urlshortener.k4tiek3nt.repl.co/api/shorturl/2"> https://boilerplate-project-urlshortener.k4tiek3nt.repl.co/api/shorturl/2 </a> it will redirect to https://www.freecodecamp.org/</p>
      <h5> Note: Your shortened URL will be a different number than 2. You can access your new URL by typing in the address bar "https://boilerplate-project-urlshortener.k4tiek3nt.repl.co/api/shorturl/+[Your Short URL #]"</h5>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
      <p>Edited By <a href="https://www.github.com/k4tiek3nt/">Katherine Kent</a></p>
    </footer>
  </body>
</html>
